.rightSidebarContainer {
  width: 50%;
  padding: 4em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
}

.submitButtonContainer {
  display: flex;
}

@media screen and (max-width: 800px) {
  .rightSidebarContainer {
    width: 100%;
  }
}
