.registerContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
}

.errorMessage {
  color: red;
}
.succesMessage {
  color: green;
}

@media screen and (max-width: 800px) {
  .registerContainer {
    width: 100%;
  }
}
