.AddFriendContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.AddFriendHeading {
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media screen and (max-width: 800px) {
  .rightSidebarContainer {
    width: 100%;
  }
  .AddFriendHeading {
    font-size: 1em;
  }
}
