.menu {
	background-color: rgb(40, 53, 33);
}

.account {
	color: black;
	border-radius: 50px;
}

.account:hover {
	background-color: rgb(219, 219, 95);
	color: black;
}

.authform {
	width: 30rem;
}

.logintext {
	font-size: xx-large;
	cursor: pointer;
}

.fields {
	width: auto;
}

.form-box-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
